html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#map {
    flex: 1;
}
.map-title {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    width: 300px;
}
.map-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1100;
    resize: horizontal;
    overflow: auto;
}
.menu-content {
    padding: 5px;
    margin-left: 10px;
    height: 100%;
    overflow-y: auto;
    background: white;
}
.menu-tab {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 10px;
    height: 100px;
    background: darkgrey;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1102;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu-sizer {
    position: absolute;
    top: 0;
    left: 6px;
    width: 4px;
    height: 100%;
    background: silver;
    box-shadow: -1px 0 0 0 gray, 1px 0 0 0 gray;
    z-index: 1101;
    cursor: ew-resize;
}

.list-group {
    cursor: pointer;
}

.menu-header div {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    background: lightgrey;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}

.menu-header div.active {
    background: white;
    border-bottom: 2px solid #501717;
}

.menu-body {
    display: none;
}

.menu-body.active {
    display: block;
}



.form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-group .col {
    flex: 1;
    margin-right: 5px;
}

.form-group .btn-add {
    background: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.form-group .btn-add:hover {
    background: #218838;
}

.form-group .btn-delete {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.form-group .btn-delete:hover {
    background: #c82333;
}

.form-group .col input[data-type="key"] {
    border: none;
    background: #f0f0f0;
    padding: 5px;
}

.form-group .col input[data-type="key"]:focus {
    outline: none;
}

.marker-gallery {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
}

.marker-gallery img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}

.marker-gallery img:hover {
    border: 2px solid #007bff;
}